.sty{
    height: 21px;
    width: 21px;
    border: 2px solid black;
    border-radius: 100%;
    background-color: #cc75cf;
}
.sty1{
    background-color: #ff0000;
}
.sty2{
    background-color: white;
}
.sty3{
    background-color: #9cfa3c;
}